<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOCK.STORE</title>
    {% load static %}
        <link rel="icon" type="image/png" href="{% static 'TCC/images/INCON-LOGO.png' %}" sizes="32x32">

    <link rel="stylesheet" href="{% static 'TCC/pedidos/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<br>
<h1>Solicitações</h1>
<br>
    <div id="rosca">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Solicitante</th>
                <th>Status</th>
                <th>Data e Hora</th>
                <th>Aprovar/Recusar</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.produto.nome }}</td>
                    <td>{{ pedido.quantidade_pedida }}</td>
                    <td>{{ pedido.solicitante_nome }}</td>
                    <td>{{ pedido.status }}</td>
                    <td>{{ pedido.data_pedido|date:"d/m/Y H:i" }}</td>
                    <td>
                        {% if pedido.status == 'Pendente' %}
                        {% elif pedido.status == 'Confirmado' %}
                            <button><a href="{% url 'retirar_quantidade' pedido.id %}">Retirar Quantidade Solicitada</a></button>
                        {% elif pedido.status == 'Quantidade Retirada' %}
                            <!-- Exibe uma mensagem indicando que a quantidade foi retirada -->
                            <span>Quantidade retirada</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <button><a href="{% url 'lista_produtosFUNC' %}">Voltar à lista de produtos</a></button>
</div>
    <script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    alert("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>


